:root {
  --main-color: #abcab8;
  --nav-color: #6aad86;
  --bg-color: #abcab8; 
  --pink: #f5b7b7;
  --home-block: #4c7c60;
}
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  border:none;
  outline:none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.topnav {
  display: flex;
  overflow: auto;
  background-color: var(--nav-color);
  max-height: 200px;
} /*Header: shaweetie sweets logo within header*/
.topnav .logo img {
  position: relative;
  height: 100px;
  border-radius: 50%;
  padding: 10px 10px;
} /*Header: navigation bar singular name*/

/* Style the topnav links */
.topnav .link a {
  position: relative;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 5vh;
  text-decoration: none;
  font-size: 5vh;
} /* Change color on hover */
.topnav a:hover {
  color:var(--pink);
  border-top: .3rem solid var(--pink);
  border-bottom: .3rem solid var(--pink);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Create three equal columns that floats next to each other */
.column {
  background-color: var(--main-color);
  float: left;
  width: 100%;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color:var(--nav-color);
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}
