body {
  font-family: Arial;
  background: #6aad86;
  text-align: center;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  color: #fcbaba;
  text-align: center;
}

nav a {
  list-style: none;
  margin: 0;
  padding: 0;
  width:200px;
  display: block;
  text-decoration: pink;
  font-weight: bold;
  text-align: center;
}

