body {
  font-family: Arial;
  background: #eb5f5f;
  text-align: center;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  color: #fcbaba;
  text-align: center;
}

nav a {
  margin: 10px;
  text-decoration: pink;
  font-weight: bold;
  text-align: center;
}