*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  border:none;
  outline:none;
  text-decoration: none;
  text-transform: capitalize;   
  font-family:Verdana, Geneva, Tahoma, sans-serif
}


body {
  background: #6aad86;
  text-align: center;
}


h1 {
  font-family: 'Times New Roman', Times, serif;
  color: #f69999;
  text-align: center;
}

nav a {
  list-style: none;
  width:200px;
  display: block;
  font-weight: bold;
  text-align: center;
  color:#fcbaba;
  background-color: forestgreen;
}

